doctype html
html
	head
		title Library Manager .JS
		link(rel="stylesheet" type="text/css" href="/static/stylesheets/style.css")
	body
		nav
			ul
				li
					a Books
				li
					a Patrons
				li
					a Loans