extends layout.pug
block content
	h1 Books
	p
		a(class='button' href='/books/new') Add new book
	include includes/book_filters
	table
		thead
			tr
				th Title
				th Author
				th Genre
				th First published
		tbody
			-for( var i = 0; i < books.length; i++){
				tr
					td
						a(href=`/books/${books[i].id}`)=books[i].title
					td=books[i].author
					td=books[i].genre
					td=books[i].first_published
			-}