extends ../layout.pug
block content
	h1 New Patron
	form(action='/patrons/new' method='post')
		-if(errors){
			h2(class="error") Oooops!
			ul(class="error")
				-for( let i = 0; i < errors.length; i++ ){
					li=errors[i].message
				-}
		-}
		p
			label(for='first_name') First Name
			input(id='first_name' name='first_name' type='text')
		p
			label(for='last_name') Last Name
			input(id='last_name' name='last_name' type='text')
		p
			label(for='address') Address
			input(id='address' name='address' type='text')
		p
			label(for='email') Email
			input(id='email' name='email' type='text')
		p
			label(for='library_id') Library ID
			input(id='library_id' name='library_id' type='text')
		p
			label(for='zip_code') Zip Code
			input(id='zip_code' name='zip_code' type='text')
		p
			input(type='submit' value='Create new patron')